<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="KraftHeinzConnectionStringOdbc" 
         connectionString="Driver={SQL Server};Server=localhost\sqlexpress;Database=KraftHeinz;Trusted_Connection=Yes;"/>
    <add name="KraftHeinzConnectionStringOleDB"
         connectionString="Provider=SQLOLEDB;Data Source=localhost\sqlexpress;Initial Catalog=KraftHeinz;Integrated Security=SSPI"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>